body {
    background-color: rgb(238, 238, 238);
    padding-top: 50px;
  }
  
  div {
    background-color: white;
    margin: auto;
    margin-top: 0px;
    max-width: 350px;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    border: solid 1px rgb(124, 124, 124);
  }
  
  .input {
    width: 320px;
    height: 50px;
  }
  